body{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}
a:link{
  text-decoration: none;
}

/*a:visited{
  color: rgb(91, 255, 127);
  text-decoration: none;
}*/
h1{
  font-family: 'Overpass Mono', monospace;
  font-weight: normal;
  font-size: 2vw;
  margin-top: 2%;
  padding-left: 2%;
  background-color: orange;
}

.headline{
  margin-top: 2%;
  background-color: orange;
}

p{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw;
  line-height: 2.5vw;
  color: orange;
  text-align: justify;
}

.sidebar{
  position:fixed;
  margin-top: 5%;
  margin-left: 2%;
  width: 20%;
}

.Projects{
  width: 50%;
  margin-top: 5%;
  margin-left: 27.5%;
}

.Headers{
  width: 50%;
  margin-top: 5%;
  margin-left: 27.5%;
}

.topleft{
float: left;
width: 40%;
height:20vw;
outline-style:solid;
outline-color: orange;
outline-width:medium;
margin-bottom: 5%;
margin-right: 5%;
}

  .TLHeader {
    margin-top: 40%;
    margin-bottom: 40%;
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 2vw;
    color: orange;
    /*content: 'the locked door'*/
  }

  .topleft:hover{
    outline-style: solid;
    outline-width: thick;
    outline-color: white;
  }

  .topleft:hover > .TLHeader{
      color: white;
      /*content: 't_e l0ck_d d_or'*/
  }

.topright {
float: left;
width: 40%;
height:20vw;
outline-style:solid;
outline-color: orange;
outline-width:medium;
margin-bottom: 5%;
}

.topright:hover{
  outline-style: solid;
  outline-width: thick;
  outline-color: white;
}

.topright:hover > .TRHeader{
    color: white;
}

  .TRHeader {
    margin-top: 40%;
    margin-bottom: 33%;
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 2vw;
    color: orange;
  }

.bottomleft {
float: left;
width: 40%;
height:20vw;
outline-style:solid;
outline-color: orange;
outline-width:medium;
margin-right: 5%;
margin-bottom: 7.5%;
}

.bottomleft:hover{
  outline-style: solid;
  outline-width: thick;
  outline-color: white;
}

.bottomleft:hover > .BLHeader{
    color: white;
}

  .BLHeader {
    margin-top: 40%;
    margin-bottom: 34.5%;
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 2vw;
    color: orange;
  }

.bottomright {
float: left;
width: 40%;
height:20vw;
outline-style:solid;
outline-color: orange;
outline-width:medium;
margin-bottom: 7.5%;
}

.bottomright:hover{
  outline-style: solid;
  outline-width: thick;
  outline-color: white;
}

.bottomright:hover > .BRHeader{
    color: white;
}
  .BRHeader {
    margin-top: 40%;
    margin-bottom: 33%;
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 2vw;
    color: orange;
  }
