body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  font-size: 3vw;
}

img{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -5%);
}

.logo{
  position: absolute;
  width: 80%;
  left: 50%;
  top: 5%;
  transform: translate(-50%,-5%);
  object-fit: contain;
}

.message{
  position: absolute;
  margin-top: 10%;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

a{
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: bold;
  text-decoration: underline;
}
